<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Rate Webapp</a>
  </div>

  <div class="d-flex flex-row justify-content-center align-items-center gap-3">
    <div class="d-flex flex-row gap-2">
      <div class="text-white" style="text-wrap: nowrap; font-weight: 100">
        Expiry date:
      </div>
      <div class="text-white" style="text-wrap: nowrap; font-weight: 300">
        09-12-2024
      </div>
    </div>
    <a href="https://api.whatsapp.com/send?phone=919340092324" target="_blank">
      <div
        class="whatsapp-contact-us d-flex align-items-center justify-content-center p-1 me-2"
        style="cursor: pointer"
      >
        <div class="text-white">Contact Us</div>
      </div>
    </a>
  </div>
</nav>

<div>
  <div
    class="d-flex flex-column justify-content-center align-items-center mt-4"
  >
    <div
      class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
    >
      <input
        class="form-check-input"
        type="checkbox"
        role="switch"
        id="flexSwitchCheckDefault"
        style="width: 4rem; height: 2rem"
      />
    </div>
    <h4 class="mb-5">Master Switch</h4>
    <div
      class="d-flex flex-column justify-content-center align-items-center border-cont gap-1 mb-4"
      style="width: 95%"
    >
      <h5>Adjustment</h5>
      <hr style="width: 10rem" class="m-0 mb-1" />
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-1"
      >
        <div
          class="d-flex flex-column justify-content-center align-items-center"
          style="width: 10rem"
        >
          <div
            class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
          >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              style="width: 3rem; height: 1.5rem"
            />
          </div>
          <div>GOLD 24 CT</div>
        </div>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
          style="width: 10rem"
        >
          <div
            class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
          >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              style="width: 3rem; height: 1.5rem"
            />
          </div>
          <div>GOLD 22 CT</div>
        </div>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
          style="width: 10rem"
        >
          <div
            class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
          >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              style="width: 3rem; height: 1.5rem"
            />
          </div>
          <div>GOLD 20 CT</div>
        </div>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
          style="width: 10rem"
        >
          <div
            class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
          >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              style="width: 3rem; height: 1.5rem"
            />
          </div>
          <div>GOLD 18 CT</div>
        </div>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
          style="width: 10rem"
        >
          <div
            class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
          >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              style="width: 3rem; height: 1.5rem"
            />
          </div>
          <div>GOLD 14 CT</div>
        </div>
        <div
          class="d-flex flex-column justify-content-center align-items-center"
          style="width: 10rem"
        >
          <div
            class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
          >
            <input
              class="form-check-input"
              type="checkbox"
              role="switch"
              id="flexSwitchCheckDefault"
              style="width: 3rem; height: 1.5rem"
            />
          </div>
          <div>SILVER</div>
        </div>
      </div>
    </div>

    <div
      class="d-flex flex-column justify-content-center align-items-center border-cont gap-1 mb-4"
    >
      <h5>Toggle Settings</h5>
      <hr style="width: 10rem" class="m-0 mb-1" />
      <div
        class="d-flex flex-row justify-content-center align-items-center gap-4 px-5 mt-4"
        style="width: 100%"
      >
        <div class="mb-3 w-100">
          <label class="form-label">Silver Adjustment Amount</label>
          <input
            type="number"
            class="form-control"
            placeholder="Enter Silver Adjustment Amount here .."
          />
        </div>
        <div class="mb-3 w-100">
          <label class="form-label">Gold Adjustment Amount</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Gold Adjustment Amount here .."
          />
        </div>
      </div>
    </div>
    <div
      class="d-flex flex-column border-cont justify-content-center align-items-center gap-1"
      style="width: 95%"
    >
      <h5>Gold Configuration</h5>
      <hr style="width: 10rem" class="m-0 mb-1" />
      <div
        class="d-flex flex-row w-100 gap-4 justify-content-around align-items-center"
      >
        <div
          class="mb-3 d-flex justify-content-center align-items-center flex-column"
          style="width: 15rem"
        >
          <label class="form-label">24 CT PERCENT</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Percent here... "
          />
        </div>
        <div
          class="mb-3 d-flex justify-content-center align-items-center flex-column"
          style="width: 15rem"
        >
          <label class="form-label">22 CT PERCENT</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Percent here... "
          />
        </div>
        <div
          class="mb-3 d-flex justify-content-center align-items-center flex-column"
          style="width: 15rem"
        >
          <label class="form-label">20 CT PERCENT</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Percent here..."
          />
        </div>
        <div
          class="mb-3 d-flex justify-content-center align-items-center flex-column"
          style="width: 15rem"
        >
          <label class="form-label">18 CT PERCENT</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Percent here..."
          />
        </div>
        <div
          class="mb-3 d-flex justify-content-center align-items-center flex-column"
          style="width: 15rem"
        >
          <label class="form-label">14 CT PERCENT</label>
          <input
            type="email"
            class="form-control"
            placeholder="Enter Percent here..."
          />
        </div>
      </div>
    </div>
  </div>
</div>
