<app-loader *ngIf="loaderSave" style="color: white"></app-loader>
<div
  style="background-color: black; height: 100vh; display: block"
  *ngIf="loader"
  class="d-flex justify-content-center align-item-center"
>
  <div class="d-flex flex-column justify-content-center align-items-center">
    <div class="loader-main"></div>
    <div class="text-white">Loading...</div>
  </div>
</div>

<div style="height: 100vh; background-color: #1e2039" *ngIf="!loader">
  <nav
    class="navbar navbar-expand-lg bg-body-tertiary"
    data-bs-theme="dark"
    style="background-color: #262b4a !important"
  >
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Rate Webapp Admin</a>
    </div>

    <div
      class="d-flex flex-row justify-content-center align-items-center gap-3"
    >
      <div
        class="d-flex justify-content-center align-items-center flex-row gap-2"
      >
        <div
          class="text-white"
          style="text-wrap: nowrap; font-size: 0.8rem; font-weight: 100"
        >
          Expiry date:
        </div>
        <div class="text-white" style="text-wrap: nowrap; font-weight: 300">
          {{ dateFormatter(config.data.expiry_date) }}
        </div>
      </div>
      <a
        href="https://api.whatsapp.com/send?phone=919340092324"
        target="_blank"
      >
        <div
          class="whatsapp-contact-us d-flex align-items-center justify-content-center p-1 me-2"
          style="cursor: pointer"
        >
          <div class="text-white">Contact Us</div>
        </div>
      </a>
    </div>
  </nav>

  <div class="">
    <div class="d-flex flex-column justify-content-center align-items-center">
      <div
        style="
          border: 3px solid #262b4a;
          width: 95%;
          border-radius: 5px;
          position: relative;
          height: 75vh;
        "
        class="d-flex align-items-start mt-5 justify-content-around gap-3 flex-row"
      >
        <div
          class="d-flex flex-column justify-content-center align-items-center"
        >
          <div
            style="
              position: absolute;
              top: -28px;
              background-color: #262b4a;
              border-radius: 10px;
              color: white;
              width: 17rem;
            "
            class="px-2 py-1 d-flex gap-3 flex-row justify-content-center align-items-center"
          >
            <div class="form-check form-switch mb-1">
              <input
                class="form-check-input"
                type="checkbox"
                role="switch"
                id="flexSwitchCheckDefault"
                style="width: 4rem; height: 2rem"
                [(ngModel)]="masterSwitch"
              />
            </div>
            <div style="font-size: 1.5rem">Master Switch</div>
          </div>
          <div
            class="d-flex justify-content-start gap-4 ms-4 me-4 flex-row align-items-start"
            style="height: 48vh; margin-top: 2rem"
          >
            <div
              class="d-flex colo-cont flex-column justify-content-start align-items-start gap-1 mb-4"
              style="width: 15vw; height: 100%"
            >
              <h5 class="mb-3">Toggles</h5>
              <div
                class="d-flex gap-4 flex-column justify-content-center align-items-center gap-1 w-100"
              >
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 24 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <input
                      [(ngModel)]="gold24bool"
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckDefault"
                      style="width: 3rem; height: 1.5rem"
                    />
                  </div>
                </div>
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 22 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <input
                      [(ngModel)]="gold22bool"
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckDefault"
                      style="width: 3rem; height: 1.5rem"
                    />
                  </div>
                </div>
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 20 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <input
                      [(ngModel)]="gold20bool"
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckDefault"
                      style="width: 3rem; height: 1.5rem"
                    />
                  </div>
                </div>
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 18 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <input
                      [(ngModel)]="gold18bool"
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckDefault"
                      style="width: 3rem; height: 1.5rem"
                    />
                  </div>
                </div>
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 14 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <input
                      [(ngModel)]="gold14bool"
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckDefault"
                      style="width: 3rem; height: 1.5rem"
                    />
                  </div>
                </div>
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>SILVER</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <input
                      [(ngModel)]="silverBool"
                      class="form-check-input"
                      type="checkbox"
                      role="switch"
                      id="flexSwitchCheckDefault"
                      style="width: 3rem; height: 1.5rem"
                    />
                  </div>
                </div>
              </div>
            </div>
            <div
              class="d-flex flex-column justify-content-center align-items-start"
              style="height: 100%"
            >
              <div
                class="d-flex colo-cont flex-column justify-content-start align-items-start gap-1 mb-4"
                style="width: 40vw; height: 50%"
              >
                <h5 class="mb-3">Amount Adjustment</h5>
                <div
                  class="d-flex gap-4 flex-row justify-content-center align-items-center gap-1 w-100"
                >
                  <div class="mb-3 w-100">
                    <label class="form-label">Silver Adjustment Amount</label>
                    <input
                      [(ngModel)]="silverAdd"
                      type="number"
                      class="form-control"
                      placeholder="Enter Silver Adjustment Amount here .."
                    />
                  </div>
                  <div class="mb-3 w-100">
                    <label class="form-label">Gold Adjustment Amount</label>
                    <input
                      type="number"
                      [(ngModel)]="goldAdd"
                      class="form-control"
                      placeholder="Enter Gold Adjustment Amount here .."
                    />
                  </div>
                </div>
              </div>
              <div
                class="d-flex colo-cont flex-column justify-content-start align-items-start gap-1"
                style="width: 40vw; height: 100%"
              >
                <h5 class="mb-3">Design Options</h5>
                <div
                  class="d-flex gap-4 flex-wrap flex-row justify-content-center align-items-center gap-1 w-100"
                >
                  <div
                    class="form-check d-flex flex-row gap-3 justify-content-center align-items-center"
                  >
                    <input
                      [value]="'design_1'"
                      [(ngModel)]="activeDesign"
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault1"
                    />
                    <div
                      class="d-flex gap-2 flex-column justify-content-center align-items-center"
                    >
                      <label class="form-check-label" for="flexRadioDefault1">
                        <img
                          src="https://raw.githubusercontent.com/HaridarshanJewellers/rate/main/docs/assets/design_00002.png"
                          width="130"
                        />
                      </label>

                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="12"
                        width="14"
                        viewBox="0 0 576 512"
                        (click)="openXl(content, '../assets/design_00002.png')"
                      >
                        <path
                          fill="#63E6BE"
                          d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                        />
                      </svg>
                    </div>
                  </div>
                  <div
                    class="form-check d-flex flex-row gap-3 justify-content-center align-items-center"
                  >
                    <input
                      [value]="'design_2'"
                      [(ngModel)]="activeDesign"
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault2"
                    />
                    <div
                      class="d-flex gap-2 flex-column justify-content-center align-items-center"
                    >
                      <label class="form-check-label" for="flexRadioDefault2">
                        <img
                          src="https://raw.githubusercontent.com/HaridarshanJewellers/rate/main/docs/assets/design_00001.png"
                          width="130"
                        />
                      </label>

                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="12"
                        width="14"
                        viewBox="0 0 576 512"
                        (click)="openXl(content, '../assets/design_00001.png')"
                      >
                        <path
                          fill="#63E6BE"
                          d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                        />
                      </svg>
                    </div>
                  </div>
                  <div
                    class="form-check d-flex flex-row gap-3 justify-content-center align-items-center"
                  >
                    <input
                      [value]="'design_3'"
                      [(ngModel)]="activeDesign"
                      class="form-check-input"
                      type="radio"
                      name="flexRadioDefault"
                      id="flexRadioDefault3"
                    />
                    <div
                      class="d-flex gap-2 flex-column justify-content-center align-items-center"
                    >
                      <label class="form-check-label" for="flexRadioDefault3">
                        <img
                          src="https://raw.githubusercontent.com/HaridarshanJewellers/rate/main/docs/assets/design_00003.png"
                          width="130"
                        />
                      </label>

                      <svg
                        xmlns="http://www.w3.org/2000/svg"
                        height="12"
                        width="14"
                        viewBox="0 0 576 512"
                        (click)="openXl(content, '../assets/design_00003.png')"
                      >
                        <path
                          fill="#63E6BE"
                          d="M288 32c-80.8 0-145.5 36.8-192.6 80.6C48.6 156 17.3 208 2.5 243.7c-3.3 7.9-3.3 16.7 0 24.6C17.3 304 48.6 356 95.4 399.4C142.5 443.2 207.2 480 288 480s145.5-36.8 192.6-80.6c46.8-43.5 78.1-95.4 93-131.1c3.3-7.9 3.3-16.7 0-24.6c-14.9-35.7-46.2-87.7-93-131.1C433.5 68.8 368.8 32 288 32zM144 256a144 144 0 1 1 288 0 144 144 0 1 1 -288 0zm144-64c0 35.3-28.7 64-64 64c-7.1 0-13.9-1.2-20.3-3.3c-5.5-1.8-11.9 1.6-11.7 7.4c.3 6.9 1.3 13.8 3.2 20.7c13.7 51.2 66.4 81.6 117.6 67.9s81.6-66.4 67.9-117.6c-11.1-41.5-47.8-69.4-88.6-71.1c-5.8-.2-9.2 6.1-7.4 11.7c2.1 6.4 3.3 13.2 3.3 20.3z"
                        />
                      </svg>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div
              class="d-flex colo-cont flex-column justify-content-start align-items-start gap-1 mb-4"
              style="width: 30vw; height: 100%"
            >
              <h5 class="mb-3">Gold Configuration</h5>
              <div
                class="d-flex gap-4 flex-column justify-content-center align-items-center gap-1 w-100"
              >
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 24 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <div class="input-group">
                      <input
                        type="text"
                        [(ngModel)]="gold24Percent"
                        class="form-control"
                      />
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 22 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <div class="input-group">
                      <input
                        type="text"
                        [(ngModel)]="gold22Percent"
                        class="form-control"
                      />
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 20 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <div class="input-group">
                      <input
                        type="text"
                        [(ngModel)]="gold20Percent"
                        class="form-control"
                      />
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 18 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <div class="input-group">
                      <input
                        type="text"
                        [(ngModel)]="gold18Percent"
                        class="form-control"
                      />
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
                <div
                  class="d-flex mid-cont flex-row justify-content-between align-items-center"
                >
                  <div>GOLD 14 CT</div>
                  <div
                    class="form-check form-switch d-flex flex-column align-items-center justify-content-center"
                  >
                    <div class="input-group">
                      <input
                        type="text"
                        [(ngModel)]="gold14Percent"
                        class="form-control"
                      />
                      <span class="input-group-text">%</span>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div
            class="d-flex colo-cont flex-column ms-4 me-4 justify-content-start align-items-start gap-1 mt-4"
            style="width: 97%"
          >
            <div
              class="d-flex gap-4 flex-row justify-content-center align-items-center gap-1 w-100"
            >
              <div class="mb-3 w-100">
                <label class="form-label">Top Text</label>
                <input
                  [(ngModel)]="topInfo"
                  type="text"
                  class="form-control"
                  placeholder="Enter Silver Adjustment Amount here .."
                />
              </div>
              <div class="mb-3 w-100">
                <label class="form-label">Bottom Text Amount</label>
                <input
                  type="text"
                  [(ngModel)]="bottomInfo"
                  class="form-control"
                  placeholder="Enter Gold Adjustment Amount here .."
                />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-flex bottom-bar justify-content-center align-items-center">
    <nav
      class="navbar navbar-expand-lg bg-body-tertiary w-100 d-flex justify-content-center align-items-center"
      data-bs-theme="dark"
      style="background-color: #262b4a !important"
    >
      <div
        class="d-flex align-items-center justify-content-center"
        style="cursor: pointer"
      >
        <button
          type="button"
          (click)="save()"
          class="btn btn-success"
          style="width: 8rem"
        >
          SAVE
        </button>
      </div>
    </nav>
  </div>
</div>

<ng-template #content let-modal>
  <!-- <div class="modal-header dark-modal">
    <h4 class="modal-title">Modal title</h4>
    <button
      type="button"
      class="btn-close"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    ></button>
  </div> -->
  <img [src]="viewDesign" width="100%" />

  <div
    class="d-flex justify-content-center align-items-center"
    style="
      position: absolute;
      top: 10px;
      right: 20px;
      background-color: black;
      border-radius: 100%;
      height: 2rem;
      width: 2rem;
    "
  >
    <svg
      xmlns="http://www.w3.org/2000/svg"
      height="26"
      width="24"
      viewBox="0 0 384 512"
      (click)="modal.close('Close click')"
    >
      <path
        fill="#ffffff"
        d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z"
      />
    </svg>
  </div>
</ng-template>
